<html>
<head>
</head>
<body>
<h2>Admin Operations</h2>
<ul>
<li><a href="/admin/fix_counts">Fix comment and like counts</a></li>
<li><a href="/admin/list_orphans">List content not associated with any user</a></li></ul>
<li><a href="/admin/fix_orphans">Remove content not associated with any user</a></li></body>
</html>