<html>
<head>
</head>
<body>
<h2>Admin Operations</h2>
<ul>
<li><a href="/admin/post_write">Make Posts table writeable by all</a></li>
<li><a href="/admin/fix_counts">Fix comment and like counts</a></li>
</ul>
</body>
</html>