<!DOCTYPE html>
<html lang="en">
	<head>
	    <!-- Meta, title, CSS, favicons, etc. -->
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
	
		<title>
		  
		    Poppo - Message
		  
		</title>
	
	<!-- Canvas Resize -->
    <script type="text/javascript">
        function resize_canvas(){
            canvas = document.getElementById("canvas");
            if (canvas.width  < window.innerWidth)
            {
                canvas.width  = window.innerWidth;
            }

            if (canvas.height < window.innerHeight)
            {
                canvas.height = window.innerHeight;
            }
        }
    </script>

	<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />  
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>
		
		<!-- Rocket extras -->
		<link href="/css/animate.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		
		<!-- Favicons -->
		<link rel="shortcut icon" href="../assets/favicon.png">
	</head>
	<body onresize="resize_canvas()">

	<!-- Start Rocket -->
	<!-- ********************* -->
	

	<!-- Start Header
	================================================== -->
	<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <!-- Logo -->
	      <a href="www.poppo.com" class="navbar-brand"> <img style="width: 65%; height: 65%;" src="/assets/logo.png"></a>
	      <!--<a href="../" class="navbar-brand" >Poppo</a> -->
	     
	    
	</header>
	<!-- ==================================================
	End Header -->
	
	<!-- Start Signup
	================================================== -->
	<section id="signup" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Title -->
					<div class="overview">
						<br><br>
						<h2><strong><%=msg%></strong></h2>
						
					 <a href="/"><button class="btn btn-lg btn-primary" type="button">Return</button></a>

						
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- ==================================================
	End Signup -->
		
<!-- Footer -->
	<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    	<div class="container">
    		<div class="navbar-text pull-left">
    			<p>© 2015 poppo</p>
    		</div>
			<div class="navbar-text pull-right">
    			<a href="www.facebook.com/poppoapp"><i class="fa fa-facebook-circle fa-2x"></i></a>
    			<a href="https://twitter.com/poppoapp"><i class="fa fa-twitter circle fa-2x"></i></a>
    			<a href="https://instagram.com/gopoppo/"><i class="fa fa-instagram circle fa-2x"></i></a>
    		</div>
    	</div>
    </div>

	
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/jquery.scrollto.min.js"></script>
	<script src="js/jquery.localscroll.min.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/scripts.js"></script>
	
	
	<!-- ********************* -->
	<!-- Start Rocket -->

	<!-- Canvas Message-->
	
	<canvas id="canvas">Your browser doesn't support canvas</canvas>

	</body>
</html>
