<!DOCTYPE html>
<html lang="en">
	<head>
	    <!-- Meta, title, CSS, favicons, etc. -->
	    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
	
		<title>
		  
		    Poppo
		  
		</title>
	
	<!-- Canvas Resize -->
    <script type="text/javascript">
        function resize_canvas(){
            canvas = document.getElementById("canvas");
            if (canvas.width  < window.innerWidth)
            {
                canvas.width  = window.innerWidth;
            }

            if (canvas.height < window.innerHeight)
            {
                canvas.height = window.innerHeight;
            }
        }
        function validateEmail(email) {
          var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
        }
        function validatePassword(pw1, pw2) {
        	if (pw1 != pw2) {
				alert("Passwords do not match")
				return false
        	}
        	if (pw1.length < 8) {
				alert("Password is too short")
				return false
        	}
        	return true
        }
    </script>

	<!--  core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>
		
		<!-- Rocket extras -->
		<link href="/css/animate.css" rel="stylesheet">
		<link href="/css/prettyPhoto.css" rel="stylesheet">
		<link href="/css/style.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		
		<!-- Favicons -->
		<link rel="shortcut icon" href="/assets/favicon.ico">
		<script src='https://www.google.com/recaptcha/api.js'></script>
	</head>
	<body onresize="resize_canvas()">
	
	<!-- Start Header
	================================================== -->
	<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <!-- Logo -->
	      <a href="http://www.poppo.com" class="navbar-brand"> <img style="width: 65%; height: 65%;" src="/assets/logo.png"></a>
	      <!--<a href="../" class="navbar-brand" >Poppo</a> -->
	     
	    </div>
	    <!-- Start Navigation -->
	     <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	      <!--
	      <ul class="nav navbar-nav">
	        <li>
	          <a href="#hero">Home</a>
	        </li>
	        <li>
	          <a href="#features">About</a>
	        </li>
	         <li>
	          <a href="#newsletter">Press Kit</a>
	        </li>
	        <li>
			-->

	    </nav>
	  </div>
	</header>
	<!-- ==================================================
	End Header -->
	
	<!-- Start Shared Content Block
	================================================== -->
	<section id="shared" class="section" style="background-color:#FFF; border-top: 1px solid rgba(0, 0, 0, .1);">
	<div class="container">
			<div class="row">
				<div class="col-md-12">
				  <form class="form-horizontal" role="form" method="post" id="password_form" action="/pwresetdone/<%=key%>"> 
    				<div class="modal-header">
    					<h4>Reset Password<h4>
	    			</div>
	    			<div class="modal-body">
    					<div class="form-group">
    						<label for="password" class="col-sm-2 control-label">New password</label>
    						<div class="col-sm-10">
    							<input type="password" class="form-control" name="password" id="password" placeholder="At least 8 characters">
    						</div>
    					</div>
    					<div class="form-group">
    						<label for="password-again" class="col-sm-2 control-label">Password again</label>
    						<div class="col-sm-10">
    							<input type="password" class="form-control" id="password-again" placeholder="">
    						</div>
    					</div>
	    			</div>
	    			<div class="modal-footer">
    					<button onclick=" if (validatePassword(document.getElementById('password').value, document.getElementById('password-again').value)) document.getElementById('password_form').submit();" type="submit" class="btn btn-primary">Reset Password</button>    				
					</div>
    			</form>
				</div>
			</div>
		</div>
	</section>
	<!-- ==================================================
	End Shared Content Block -->
	

	<!-- Start Contact Block
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
    <div class="modal fade" id="contact" role="dialog">
    	<div class="modal-dialog">
    		<div class="modal-content">
    			<form class="form-horizontal" role="form">
    				<div class="modal-header">
    					<h4>Contact<h4>
	    			</div>
	    			<div class="modal-body">
    					<div class="form-group">
    						<label for="contact-name" class="col-sm-2 control-label">Name</label>
    						<div class="col-sm-10">
    							<input type="text" class="form-control" id="contact-name" placeholder="First & Last Name">
    						</div>
    					</div>
    					<div class="form-group">
    						<label for="contact-email" class="col-sm-2 control-label">Email</label>
    						<div class="col-sm-10">
    							<input type="email" class="form-control" id="contact-email" placeholder="example@domain.com">
    						</div>
    					</div>
    					<div class="form-group">
    						<label for="contact-message" class="col-sm-2 control-label">Message</label>
    						<div class="col-sm-10">
    							<textarea class="form-control" rows="4"></textarea>
    						</div>
    					</div>
	    			</div>
	    			<div class="modal-footer">
						<a class="btn btn-default" data-dismiss="modal">Close</a>
    					<button type="submit" class="btn btn-primary">Send</button>    				
					</div>
    			</form>
    		</div>
    	</div> 
    </div>
    <!-- ==================================================
	End Newsletter Block -->
	
	
	
	<!-- ADD Social Media + Footer
	================================================== -->
	<!-- Join Us On -->
	
	<!-- Footer -->
	<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    	<div class="container">
    		<div class="navbar-text pull-left">
    			<p>© 2016 poppo</p>
    		</div>
			<div class="navbar-text pull-right">
    			<a href="www.facebook.com/poppoapp"><i class="fa fa-facebook-circle fa-2x"></i></a>
    			<a href="https://twitter.com/playpoppo"><i class="fa fa-twitter circle fa-2x"></i></a>
    			<a href="https://instagram.com/gopoppo/"><i class="fa fa-instagram circle fa-2x"></i></a>
    		</div>
    	</div>
    </div>

	
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/waypoints.min.js"></script>
	<script src="/js/jquery.scrollto.min.js"></script>
	<script src="/js/jquery.localscroll.min.js"></script>
	<script src="/js/jquery.prettyPhoto.js"></script>
	<script src="/js/scripts.js"></script>
	
	
	<!-- ********************* -->
	<!-- Start Rocket -->

	<!-- Canvas Message-->
	
	<canvas id="canvas">Your browser doesn't support canvas</canvas>

	</body>
</html>
